@model IEnumerable<JobLinking.Models.JobAdvertisement>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

@{
    var userId = User.Identity.GetUserId();
}
<h2>Job Advertisements</h2>
@if (User.IsInRole("Company") || User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table" id="jobad-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @{
                        var companyId = item.Company.UserIdRelation;
                    }
                    @if (companyId.Equals(userId) || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <button data-jobadvertisement-id="@item.Id" class="btn btn-danger js-delete">Delete</button>
                    }

                    @if (User.IsInRole("JobSeeker") || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Apply", "Apply", new { id = item.Id })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#jobad-table").DataTable();
            $(".js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/JobAdvertisements/Delete/" + button.attr("data-jobadvertisement-id"),
                            method: "GET",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                    }
                })
            })
        })
        $(function () {
            $("#companies-table img").mouseover(function () {
                $(this).animate({ height: '+=25', width: '+=25' });
            });
        });
        $(function () {
            $("#companies-table img").mouseout(function () {
                $(this).animate({ height: '-=25', width: '-=25' });
            });
        });
    </script>
}
