@model IEnumerable<JobLinking.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Jobs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="jobs-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    <button data-job-id="@item.Id" class="btn btn-danger js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
                var table = $("#jobs-table");
                $(".js-delete").on("click", function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/Jobs/Delete/" + button.attr("data-job-id"),
                                method: "GET",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    })
                })
        })
    </script>
}